@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format(woff2);
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 24px;
  line-height: 31px;
  color: black;
  background-color: #FFFFFF;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px 5px #dbdbdb;
}


.page-header {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 460px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navigation-user {
  margin: 0;
  padding: 0;
}

.navigation-user .navigation-link {
  min-width: 18px;
  min-height: 18px;
}

.navigation-logo {
  display: flex;
  align-items: flex-start;
  width: 138px;
  margin: 0 auto;

}

.navigation-link {
  display: block;
  color: black;
  background-color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  padding: 20px 17px;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.welcome-text {
  display: block;
  margin: 0 auto;
  padding-top: 51px
}

.main-index {
  color: black;
  background-color: #FFFFFF;
}




.advantages-banner {
  text-align: center;
  font-size: 22px;
  line-height: 36px;
  background-image: url("../img/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}


.advantages-top {
  margin-top: 146px;
}

.advantages-banner h1 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  width: 1200px;
}

.advantages-list-starting-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1200px;
}

.advantages-list-starting-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-left: 90px;
  padding-right: 90px;
  width: 400px;
  font-size: 18px;
  line-height: 21px;
}

.advantages-list-closing-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1200px;
  margin: 0;
}

.advantages-list-closing-item {
  display: flex;
  flex-direction: column;
  width: 400px;
  text-align: center;
  padding-left: 90px;
  padding-right: 90px;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.advantages-item {
  display: flex;
  align-items: center;
  width: 400px;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  margin: 0;

}

.advantages-padding {
  padding-right: 75px;
  padding-left: 75px;
  padding-top: 79px;
  padding-bottom: 79px;
}

.advantages-line {
  padding-bottom: 79px;
  margin: 0;
}

.advantages h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-blue {
  color: white;
  background-color: #83B3D3;
}

.advantage-description-line {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  margin-top: 26px;
}

.advantages-grey {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-dark-grey {
  background-color: rgba(131, 179, 211, 0.2);
}

.newsletter-form {
  display: flex;
  justify-content: center;
}

.hotels-list {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  padding-bottom: 91px;
}

.hotels-list-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 91px;
}

.hotels-list-button {
  padding-top: 73px;
}

.hotels-list-description {
  margin: 0;
  padding-top: 15px;
  font-size: 22px;
  line-height: 26px;
}

.newsletter-index {
  background-image: url(../img/background-subscribe.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
}

.newsletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 94px;
}

.newsletter-description {
  margin: 0;
  padding-top: 15px;
  font-size: 22px;
  line-height: 26px;
}

.footer-contacts {
  width: 720px;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  margin-right: 53px;
}

.footer-contacts-phone {
  min-width: 720px;
  color: black;
  text-decoration: none;
}

.page-footer {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  justify-content: space-around;
  padding: 40px 0;
}

.footer-social {
  width: 240px;
  margin-left: auto;
}

.footer-social-list {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  width: 150px;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 72px;
}

.footer-social-item {
  margin-right: 30px;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.site-credits {
  width: 115px;
  padding-right: 72px;
}

.button {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}

.newsletter-button-line {
  display: flex;
  padding-top: 26px;
  padding-bottom: 94px;

}

.newsletter-button {
  background-color: #83B3D3;
  padding: 0;
  width: 200px;
  height: 60px;
}

.navigation-button,
.button-all {
  background-color: #756257;
}

/* Начало каталога */

.main-inner {
  color: black;
  background-color: #FFFFFF;
  background-image: url("../img/catalog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 35px;
}

.inner-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 5px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  margin-right: 32px;
  color: white;
}

.newsletter-catalog {
  text-align: center;
  color: black;
}

.catalog-filter {
  display: flex;
  width: 1200px;
  color: white;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
}

.filter-row {
  display: flex;
  justify-content: space-around;
  width: 1200px;
}

.filter-group {
  display: flex;
  flex-direction: column;
  max-width: 287px;
  min-width: 150px;
}

.price-and-buttons {
  display: flex;
}

.apply-button {
  background-color: #83B3D3;
  border-radius: 4px;
}

.cancel-button {
  background: none;
  text-transform: none;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  font-weight: 400;
}

.filter-result-output {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}

.sorting-results {
  display: flex;
  width: 1200px;
  margin-bottom: 42px;
  margin-top: 127px;
}

.sorting-type {
  margin-left: auto;
}

.sorting-result .button {
  width: 48px;
  height: 48px;
}

.housing-list {
  display: flex;
  flex-direction: column;
  width: 1200px;
  padding-left: 0;
  margin: 0;
}

.housing-card {
  display: flex;
  justify-content: space-between;
}

.raiting-and-stars {
  display: flex;
  flex-direction: column;
  width: 160px;
}

.housing-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: black;
}

.housing-card-link {
  text-decoration: none;
}

.housing-card-type,
.housing-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.raiting {
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  background-color: #F2F2F2;

}

.button-favorite {
  background-color: #83B3D3;
}

.button-favorite-chosen {
  background-color: #7DB54F;

}

.pagination-container {
  display: flex;
  width: 1200px;
  justify-content: space-between;
  padding: 25px;
}

.pagination {
  display: flex;
  width: 260px;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-show-more {
  background-color: #83B3D3;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  padding: 14.5px 0;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
}

.pagination-current {
  background-color: #F2F2F2;
  color: black;
}

.hotels-per-page-title {
  font-size: 18px;
  line-height: 23px;
}
