@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format(woff2);
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format(woff2);
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 24px;
  line-height: 31px;
  color: black;
  background-color: #FFFFFF;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px 5px #dbdbdb;
}


.page-header {
  position: relative;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 496px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navigation-user {
  margin: 0;
  padding: 0;
  justify-content: flex-end;
}

.navigation-user .navigation-item {
  margin-right: 33px;

}

.navigation-user .navigation-item:first-child {
  margin-left: 0;
}

.navigation-user .navigation-item:nth-child(3) {
  margin-right: 0;
}

.navigation-user .navigation-link {
  min-width: 18px;
  min-height: 18px;
}

.navigation-logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 138px;
  height: 70;

}

.navigation-item {
  position: relative;
  margin-top: 19px;
  margin-right: 33px;
}
.favorite-icon-number {
  position: absolute;
  font-size: 10px;
  font-weight: 400;
  text-align: center;
  line-height: 19px;
  width: 19px;
  height: 19px;
  background-color: #7DB54F;
  color: white;
  border-radius: 50%;
  left: 13px;
  top: -10px;
}

.navigation-link {
  position: relative;
  display: block;
  color: black;
  background-color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  margin: 0;
  padding: 0;
  border-radius: 3px;
  box-sizing: border-box;

}

.navigation-link:hover {
  color: #756257;

}

.navigation-link:focus {
  outline: 3px solid #83B3D3;
  outline-offset: 10px;
}

.main-menu-current {
  text-decoration: underline;
  text-underline-offset: 24px;
}
/* .main-menu {
  position: relative;
}

.main-menu-current::before {
  position: absolute;
  top: 44px;
  width: 81px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.catalog-menu-current {
  position: relative;
}

.catalog-menu-current::before {
  position: absolute;
  top: 44px;
  width: 109px;
  height: 2px;
  background-color: #756257;
  content: "";
} */

.navigation-icon {
  /* position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #000000;
}

.navigation-link:hover .navigation-icon {
  fill: #756257;
}

.navigation-button:hover {
  background-color: #615048;

}

.navigation-button:focus {
  outline: 3px solid #83B3D3;
}

.navigation-item:first-child {
  margin-left: 72px;
}

.navigation-item:nth-child(3) {
  margin-right: 0;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.welcome-text {
  display: block;
  margin: 0 auto;
  padding-top: 51px
}

.main-index {
  color: black;
  background-color: #FFFFFF;
}




.advantages-banner {
  text-align: center;
  font-size: 22px;
  line-height: 36px;
  background-image: url("../img/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.advantages-top {
  margin-top: 63px;
}

.advantages-banner h1 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.divider {
  margin-top: 26.03px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  width: 1200px;
}

.advantages-list-starting-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1200px;
}

.advantages-list-starting-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 90px;
  margin-right: 90px;
  width: 400px;
  font-size: 18px;
  line-height: 21px;
}

.advantages-list-closing-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1200px;
  margin: 0;
}

.advantages-list-closing-item {
  display: flex;
  flex-direction: column;
  width: 400px;
  text-align: center;
  margin-left: 90px;
  margin-right: 90px;
  font-size: 18px;
  line-height: 21px;
  margin: 0;
}

.advantages-item {
  display: flex;
  align-items: center;
  width: 400px;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
  margin: 0;

}

.advantages-padding {
  margin-right: 75px;
  margin-left: 75px;
  margin-top: 79px;
  margin-bottom: 79px;
}

.advantages-padding-bigger {
  margin-right: 75px;
  margin-left: 75px;
  margin-top: 98px;
  margin-bottom: 98px;
}

.advantages-line {
  margin: 0;
  margin-bottom: 79px;
}

.advantages h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantage {
  margin: 0;
}

.advantage-description {
  margin: 0;
  margin-top: 25px;
}

.advantages-icon {
  margin-bottom: 23px;
}

.advantages-blue {
  color: white;
  background-color: #83B3D3;
}

.advantage-description-line {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  margin-top: 26px;
}

.advantages-grey {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-dark-grey {
  background-color: rgba(131, 179, 211, 0.2);
}

.newsletter-form {
  display: flex;
  justify-content: center;
}

.hotels-list {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 91px;
}

.hotels-list-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 91px;
}

.hotels-list-button {
  padding-top: 73px;
}

.hotels-list-description {
  margin: 0;
  padding-top: 15px;
  font-size: 22px;
  line-height: 26px;
}

.newsletter-index {
  background-image: url(../img/background-subscribe.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  color: white;
}

.newsletter-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
  padding-top: 94px;
}

.newsletter-description {
  margin: 0;
  padding-top: 15px;
  font-size: 22px;
  line-height: 26px;
}


.page-footer {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  justify-content: space-around;
}

.footer-social {
  width: 240px;
  margin-top: 49px;
  margin-bottom: 53px;
}

.footer-social-list {
  display: flex;
  list-style-type: none;
  width: 150px;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-left: 72px;
}



.footer-social-item:nth-child(3n) {
  margin-right: 0;
}
.social-logo {
  position: absolute; 
  top: 0; 
  left: 0;  
  right: 0; 
  bottom: 0; 
  margin: auto;
}

.social-logo {
  fill: #83B3D3;
}

.social-logo:hover {
  fill: #68A2CA;
}


.social-button {
  display: block;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

.social-button:focus {
  outline: 3px solid #83B3D3;
}

.footer-contacts {
  width: 720px;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  margin-right: 53px;
  margin-top: 40px;
  margin-bottom: 30px;
}

.footer-contacts-phone {
  min-width: 720px;
  color: black;
  text-decoration: none;
  margin-top: 40px;
  margin-bottom: 30px;
}

.footer-contacts-phone:hover {
  color: #756257;
}

.footer-contacts-phone:focus {
  outline: 3px solid #83B3D3;
  outline-offset: 15px;
  border-radius: 10px;
}


.site-credits {
  width: 115px;
  margin-right: 72px;
  margin-top: 42px;
  margin-bottom: 45px;
}

.academy-logo {
  display: block;
  fill: #000000;
}

.academy-logo:hover {
  fill: #756257;
}
.htmlacademy-link {
  display: block;
}

.htmlacademy-link:focus {
  outline: 3px solid #83B3D3;
  outline-offset: 15px;
  border-radius: 10px;

}

.button {
  display: inline-block;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}

.button-search {
  padding-top: 13px;
  padding-bottom: 17px;
  width: 575px;
  height: 60px;
  border-radius: 10px;
}

.button-search:hover {
  background-color: #615048;
}

.button-search:focus {
  outline: 3px solid #83B3D3;
}

.newsletter-button-line {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 800px;
  box-sizing: border-box;
  padding-bottom: 94px;
  padding-top: 30px;

}

.newsletter-email input {
  height: 60px;
  width: 600px;
  border-radius: 10px 0px 0px 10px;
  font-size: 18px;
  line-height: 26px;
}

.newsletter-email input:hover {
  background-color: #E6E6E6;
}

.newsletter-email input:focus {
  outline: 3px solid #83B3D3;
}

.newsletter-catalog input {
  height: 60px;
  width: 600px;
  border-radius: 10px 0px 0px 10px;
  font-size: 18px;
  line-height: 26px;
  background-color: #F2F2F2;
}

.newsletter-catalog input:hover {
  background-color: #E6E6E6;
}

.newsletter-catalog input:focus {
  outline: 3px solid #83B3D3;
}



.newsletter-email {
  margin: 0;
}

.subscribe-row-item-2 {
  padding: 0;
  padding-left: 22px;
  border-width: 0;
}

.newsletter-button {
  background-color: #83B3D3;
  padding: 0;
  margin: 0;
  width: 200px;
  height: 60px;
  border-radius: 0px 10px 10px 0px;
}

.newsletter-button:hover {
  background-color: #68A2CA;
}

.newsletter-button:focus {
  outline: 3px solid #756257;
}

.navigation-button,
.button-all {
  background-color: #756257;
}

.navigation-button {
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  width: 160px;
  height: 37px;
  padding-top: 9px;
  padding-bottom: 10px;
  border-radius: 4px;
  margin-right: 72px;
  margin-top: 14px;
  margin-bottom: 14px;
}

/* Начало каталога */

.main-inner {
  color: black;
  background-color: #FFFFFF;
  background-image: url("../img/catalog-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  padding-top: 35px;
}

.inner-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 5px;
  margin-left: 71px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: 73px;
  margin-bottom: 45px;
}

.breadcrumbs-item:not(:first-child) {
  margin-left: 10px;
}

.breadcrumbs-item:not(:last-child):after {
  display: inline-block;
  content: "";
  background: url(../img/svg/arrow.svg) center no-repeat;
  width: 5px;
  height: 8px;
  margin-left: 11px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 21px;
  color: white;
}

.newsletter-catalog {
  text-align: center;
  color: black;
}

.catalog-filter {
  display: flex;
  width: 1200px;
  color: white;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
}

.filter-row {
  display: flex;
  justify-content: space-around;
  width: 1200px;
}

.filter-group {
  display: flex;
  flex-direction: column;
  max-width: 287px;
  min-width: 150px;
}

.price-and-buttons {
  display: flex;
}

.apply-button {
  background-color: #83B3D3;
  border-radius: 4px;
}

.cancel-button {
  background: none;
  text-transform: none;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  font-weight: 400;
}

.filter-result-output {
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  margin: 0;
  margin-left: 72px;
}

.button-mode {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 48px;
  min-width: 48px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  height: 48px;
}

.button-mode-current {
  border: 2px solid #000000;
}

.button-mode:hover {
  border: none;
  outline: 2px solid #83B3D3;
}

.button-mode:focus {
  border: none;
  outline: 2px solid #83B3D3;
}

.sorting-view-modes {
  display: grid;
  grid-template-columns: 48px 48px 48px;
  gap: 8px;
  margin-right: 72px;
}

.sorting-results {
  display: flex;
  align-items: center;
  width: 1200px;
  margin-bottom: 42px;
  margin-top: 127px;
}

.sorting-type {
  margin-left: auto;
  margin-right: 72px;
}

.sorting-result .button {
  width: 48px;
  height: 48px;
}

.housing-list {
  display: grid;
  grid-template-columns: 1200px;
  padding-left: 0;
  margin: 0;
}

.housing-card {
  position: relative;
  display: flex;
  justify-content: flex-start;
  /* background-image: url(../img/svg/divider-thin.svg);
  background-size: 1056px auto;
  background-repeat: no-repeat; */
}

.housing-card::before {
  content: "";
  position: absolute;
  border-top: 1px solid #E6E6E6;
  top: 0px;
  bottom: 181px;
}

.housing-card-column-picutre {
  margin-left: 72px;
}

.housing-card-column-text {
  margin-left: 36px;
}

.housing-card-column-raiting {
  margin-left: 361px;
}

.raiting-and-stars {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 160px;
}

.housing-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: black;
}

.housing-card-link {
  text-decoration: none;
  grid-column: 1 / -1;
}

.housing-card-title {
  margin: 0;
}

.housing-card-title:hover {
  color: #756257;
}

.housing-card-title:focus {
  color: #756257;
  outline: 3px solid #83B3D3;
  outline-offset: 10px;
}



.housing-card-type,
.housing-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.housing-card-column-text {
  display: grid;
  grid-template-columns: 160px 160px;
}

.housing-card-buttons {
  display: grid;
  grid-template-columns: 151px 160px;
  grid-template-rows: auto auto 37px;
  gap: 8px;
  grid-row: 3 / 4;
  margin-top: 31px;
}

.housing-card-button-more:hover {
  background-color: #615048;
}

.housing-card-button-more:focus {
  background-color: #615048;
  outline: 3px solid #83B3D3;
}

.raiting {
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  background-color: #F2F2F2;
  border-radius: 4px;
  padding: 9px 0;
  margin-top: 63px;
  min-width: 160px;

}

.button-favorite {
  background-color: #83B3D3;
}

.button-favorite:hover {
  background-color: #68A2CA;
}

.button-favorite:focus {
  background-color: #68A2CA;
  outline: 3px solid #756257;
  ;
}

.button-favorite-chosen {
  background-color: #7DB54F;

}

.button-favorite-chosen:hover {
  background-color: #6C9E42;
}

.button-favorite-chosen:focus {
  background-color: #6C9E42;
  outline: 3px solid #756257;
}

.housing-card-button {
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  padding: 8px 0;
}

.pagination-container {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 1200px;
  margin-top: 31px;

}

.pagination {
  display: flex;
  width: 370px;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 72px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-show-more-button {
  display: flex;
  justify-content: center;
}

.pagination-show-more {
  background-color: #83B3D3;
  width: 625px;
  margin-top: 31px;
  padding: 9px 0;
  border-radius: 4px;
}

.pagination-show-more:hover {
  background-color: #68A2CA;
}

.pagination-show-more:focus {

  outline: 3px solid #756257;

}

.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  padding: 14.5px 0;
  line-height: 26px;
  font-weight: 700;
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;
  border-radius: 4px;
  text-align: center;
}

.pagination-current {
  background-color: #F2F2F2;
  color: black;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:focus {
  outline: 3px solid #756257;
  background-color: #68A2CA;
}

.items-per-page {
  margin-right: 72px;
}

.hotels-per-page-title {
  font-size: 18px;
  line-height: 23px;
}
